body {
  margin: 0px;
}


/* header */
.header{
  border: red solid 1px;
  width: 100%;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  }
.header-container{
  border: black solid 3px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-wrap: nowrap;

}

.adalab{
  border: aqua solid 1px;
  width: 155px;
}

.adalab-logo{
  border: green solid 1px;
  width: 155px;
}
.menu{
  border: greenyellow solid 1px;

}
.blog{
  border: hotpink solid 1px;
}
.contact{
  border: indigo;
}


/* main */
.main{
  border: blue solid 1px;
  width: 100%; 
  height: 100vh;
  background: #3CDBC0;
  font-family: 'Rubik', sans-serif;
display: flex;
flex-direction: row;
align-items: center;
justify-items: center;

}